html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
ul li:last-child {
  margin-bottom: 0;
}
img {
  display: block;
  height: auto;
}
button,
label {
  cursor: pointer;
}
input,
/* button, */
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
input::placeholder {
  color: inherit;
}
button {
  cursor: pointer;
}
input,
textarea {
  display: block;
  resize: none;
}
body {
  font-size: 14px;
  line-height: 19px;
  color: #242424;
  width: 100%;
  font-family: "Manrope", arial, sans-serif;
}
.container {
  max-width: 1325px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
.dn {
  display: none;
}
section {
  padding: 100px 0;
}
.sec_tit {
  color: #d67e35;
  font-family: Tinos;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 30px;
}
.sec_tit__restoran{
margin-bottom: 20px;
width: 601px;
height: 120px;
padding-left: 0;
}
.sec_tit__head {
  font-size: 80px;
  padding-left: 0;
  font-size: 80px;
}
.welcome_p {
  padding: 20px 160px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.welcom_btn{
	padding-left: 181px;
}
.dib {
  display: inline-block;
}
.hover {
  transition: 0.3s;
}
.hover:hover {
  color: #be963f;
}
.link {
  transition: 0.3s;
}
.link:hover {
  box-shadow: 0px 6px 5px 2px #836a36;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.btn {
  border: 1px solid #ff7400;
  color: #f3eeee;
  background: #ff7400;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  transition: 0.5s;
  padding: 9px 16px;
}
.btn:hover {
  box-shadow: 0px 6px 5px 2px #000000;
}

.head {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header {
  background: url(img/header.jpg) no-repeat;
}
.head_navs {
  margin-left: 268px;
  padding-top: 23px;
}
.head_phon {
  padding-top: 7px;
}
.head_nav {
  display: flex;
}
.head_a {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-right: 25px;
  transition: 0.5s;
}
.head_a:hover{
	border: 2px ridge  ;
	border-radius: 22%;
	padding: 3px;
	color: #656363;
}
.phon_p {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 144px;
}
.phon_num:hover{
	color: #656363;
}
.phon_num {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  transition: 0.8s;
}
.welcome_txt {
  padding: 199px 100px;
}
.cards{
	display: flex;
	text-align: center;
}
.card{
	transition: all 0.5s ease 0s;
	margin-right: 32px;
	background: #fff;
	margin-top: -166px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding: 48px 20px 30px 20px;
width: 400px;
}
.cards_tit{
	color: #2c2c2c;
font-family: Tinos;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.cards_tits{
	color: #bc9060;
}
.cards_txt{
	color: #656363;
text-align: center;
font-size: 26px;
font-weight: 400;
}

.history{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.h2_tit{
	color: #000;
font-family: Tinos;
font-size: 54px;
font-style: normal;
font-weight: 400;
text-align: center;
margin-top: 77px;
}
.h2_tit__history{
	margin-bottom: 45px;
}
.h2_tit__2{
	color: #D67E34;
}
.history_txt{
	color: #656363;
text-align: center;
font-size: 16px;
font-weight: 400;
width: 444px;
}
.history_h3{
	color: #bc9060;
text-align: center;
font-size: 40px;
font-weight: 400;
line-height: normal;
}
.hidtory_card_txt{
	color: #000;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.history_cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 444px;
	margin-left: 30px;
	margin-top: 85px;
	margin-bottom: 100px;
}
.hidtory_card{
	margin-right: 60px;
text-align: center;
font-size: 40px;
}
.restoran{
	background: url(img/back.png)no-repeat;
}
.restoran_txt{
	color: #ffffff;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.all_restoran{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.restoran_right{
	align-self: center;
}
.dish_p{
	margin-bottom: 152px;
	color: #000;
font-family: Tinos;
font-size: 24px;
}
.flex_dish_nav{
	display: flex;
}
.h2_tit__dish{
	margin-bottom: 139px;
	margin-top: 0;
}
.nav_img{
	padding: 0 23px;
margin-bottom: 23px;
}

.dish_txt{
	align-self: center;
}
.right_img{
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
			transition: all 0.8s ease;
}
.right_img:hover {
	border-radius: 50%;
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
  }
  .nav_img{
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
			transition: all 0.8s ease;
}
.nav_img:hover {
	border-radius: 50%;
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
  }


*, *:after, *:before { 
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-three {
	background: #527c82;
}
figure.effect-text-three img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align: left;
}
figure.effect-text-three h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
figure.effect-text-three h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-text-three:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.cook{
	display: flex;
	/* flex-wrap: wrap; */
}



*, *:after, *:before { 
	border-box; 
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-two figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
figure.effect-text-two h3 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #f66d52 !important;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
figure.effect-text-two figcaption::before,
figure.effect-text-two p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-text-two p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
figure.effect-text-two:hover h3 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.effect-text-two:hover figcaption::before ,
figure.effect-text-two:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.gallery_block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -66px;
  }
  .gallery_left {
	margin-right: 20px;
  }
  .galery_down {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
  }
  .galery_up {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
  }
  .footer_img{
	background-repeat: no-repeat;
background-size: cover;
width: 100%;
padding-top: 57px;
  }